/*Style to the card*/
.card {
    width: 172px; 
    height: 236px;
    padding: 16px 8px 16px 8px;
    margin: 10px;

    border: solid 2px var(--main-color-rosa);
    border-radius: 8px;
    text-align: center;
    align-items: center;
    color: var(--main-color-azul);

    display: inline-block;
}

.content_image_card{
    width: 156px; 
    height: 90px;
    font-size: 10px;
    border-radius: 8px;
    text-transform: lowercase;
    margin-bottom: 15px;
}

.image_card {
    width: 156px;
    height: 90px;
    border-radius: 8px;
    margin-bottom: 3px;
}

.title_account {
    margin: 16px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.card_price {
    margin: auto;

    width: 108px;
    height: 28px;

    color:  var(--main-color-rosa);
    font-weight: bolder;
    font-size: 16px;

    border: solid 2px var(--main-color-rosa);
    border-radius: 8px;

    align-items: center;
    text-align: center;

    display: block;
}

.name_user {
    display: block;
    margin-top: 8px;
}