/* global */
* {
    font-family: 'Roboto';
    
}

/* color variables */
:root{
    --main-color-rosa: #FF66C4;
    --main-color-azul: #1A0D42;
    --main-color-azul-titulo: #1a0d42a1;
    --main-color-roxo: #5A3EF7;
}

p{
    margin: 0;
    align-items: center;
}

.div_main_card {
        display: inline-block;
}
