/* global */
* {
    font-family: 'Roboto';
    
}

/* color variables */
:root{
    --main-color-rosa: #FF66C4;
    --main-color-azul: #1A0D42;
    --main-color-azul-titulo: #1a0d42a1;
    --main-color-roxo: #5A3EF7;
}

p{
    margin: 0;
    align-items: center;
}

.div_main_card {
        display: inline-block;
}

/* caixa do topo */

.content_top {
    width: 100%;
    min-height: 255px;
    background-color: rgb(236, 169, 81);
    display: grid;
    justify-content: center;
    align-items: center;
}

.content_top_text {
    color: #FFF;
    text-align: center;
}

.content_top_title {
    font-size: 3rem;
    font-weight: 700;
}

.content_top_subtitle {
    font-size: 20px;
}

.content_top_button {
    width: 153.84px;
    height: 48px;

    border: solid 2px #FF66C4;
    border-radius: 8px;
    background-color: #FF66C4;
    padding: 8px;

    font-size: 18px;
    color: #FFF;
}



/*  */

/* caixa do topo */

.content_top {
    width: 100%;
    min-height: 255px;
    background-color: rgb(236, 169, 81);
    display: grid;
    justify-content: center;
    align-items: center;
}

.content_top_text {
    color: #FFF;
    text-align: center;
}

.content_top_title {
    font-size: 3rem;
    font-weight: 700;
}

.content_top_subtitle {
    font-size: 20px;
}

.content_top_button {
    width: 153.84px;
    height: 48px;

    border: solid 2px #FF66C4;
    border-radius: 8px;
    background-color: #FF66C4;
    padding: 8px;

    font-size: 18px;
    color: #FFF;
}